@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-image: url('../fotos/Page.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	/* background-color: #FFF9F4 ; */
}
header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    position: relative;
    color: #fff;
    background-color: #000;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}
header .navigation a{
    color: #000;
    background: #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    
}
header .navigation a:not(:last-child){
    margin-right: 30px;
}
header .navigation a:hover{
    background: #fff;
}
.content{
    max-width: 600px;
    margin: 40px 70px;
}
.content .info h2{
    color: #305448;
/*    background-color: #0000003d;*/
    font-family: 'Sono', sans-serif;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}
/*h2{
    text-shadow: 2px 2px 4px #000000;
}*/
.content .info h2 #textbx{
    color: #000;
    font-size: 50px;
    font-weight: 600;
}
.content .info p{
    color: #fff;
    background-color: #00000062;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px ;
}
.content .info-btn{
    color: #fff;
    background: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px; 
    
}
.info-btn:hover{
	background-color: #515050;
}


@media(max-width: 960px){
    header .navigation{
        display: none;
    }
    header .logo{
        position: absolute;
        bottom: -6px;
    }

    .content .info h2{
        font-size: 45px;
        line-height: 50px;
    }
    .content .info h2 span{
        font-size: 40px;
        font-weight: 600;
    }
    .content .info .p{
        font-size: 14px;
    }
}
@media(max-width: 560px){
    .content .info h2{
        font-size: 35px;
        line-height: 40px;
    }
    .content .info h2 span{
        font-size: 30px;
        font-weight: 600;
    }
    .content .info p{
        font-size: 14px;
    }
}
/* estilos da pag cadastro */



.container-cadastro{
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
}
.img-x{
	width: 50%;
	height: 100%;
	/* background-color:#C5CFF2;  */
	background-color: #305448;
	
	padding: 20px;
}
.img-x img{
	width: 100%;
	height: 100%;
}
.content-box{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	width: 50%;
	height: 89%;
	margin-top: 5%;
	
}
.content-box .form-box{
	width: 50%;
	
}
.content-box .form-box .cadastro{
	color: rgb(80, 75, 75);
	font-weight: 600px;
	font-size: 1.3em;
	margin-bottom: 15px;
	 text-transform: uppercase; 
	text-align: center;

}
.content-box .form-box{
	margin-bottom: 20px;
	 
}
.content-box .form-box .input-bx input{
	width: 100%;
	padding: 10px;
	outline: none;
	font-weight: 400;
	border: none;
	font-size: 17px;
	color:#32324f;
	background-color: #ecf2ec;
	border-radius: 4px;
}
.content-box .form-box .input-bx span{
	font-size: 16px;
	margin-bottom: 5px;
	display: inline-block;
	color: #32324f;
	font-weight: 400;
}
.content-box .form-box .input-bx::placeholder{
	color: #a9adb6;
}
/* #submit{
	background-color: #000; 
	
	color: #fff;
	outline: none;
	border: none;
	height: 43px;
	cursor: pointer;
	font-size: 14px;
	transition: 0.2s;
	
	
 *} */
 /* botaõ de login e esqueceu a senha */
 #submit{
	background-color: #000; 
	color: #fff;
	outline: none;
	border: none;
	font-weight: 700;
	cursor: pointer;
	font-size: 17px;
	transition: 0.2s;
	text-transform: uppercase;
    padding: 20px 20px;
    border-radius: 5px; 
	
}

#submitt:hover{
	background-color: #515050;
}

h5 .link-cadastro{
	
	color:  #7285f2;;
	text-decoration: none;
	
	
} 

 link:hover{
	color: #5667c7;
}


.content-box .form-box .input-box p{
	color: #32324f;
}

.content-box .form-box .input-box p a{
	color: #0000ff;
	text-decoration: none;
}
.content-box .form-box h3{
	color:#607d8b;
	text-decoration: none;
	margin: 40px 0 15px;
	font-weight: 500;
	text-align: center;
	font-size: 22px;
}
@media (max-width: 868px) {
	.container-cadastro .img-x{
		display: none;
	}
	.container-cadastro .content-box{
		width: 100%;
	}

	.container-cadastro .content-box .form-box{
		width: 100%;
		padding: 40px;
		
		margin: 50px;
	}
	.container-cadastro .content-box h3{
		margin: 30px 0 10px;
		
	}
	
}
@media (min-width: 450px){
	.container-cadastro .content-box .form-box .input-box a{
		margin-top: 20px;
	}
}



/*pagina de login*/
.header-login{
	width: 100%;
	height: 67%;
	background-color: #305448; 

}

.imagem-login{
   
   width: 100%;
	height: 10%;

}

#img-login{
	width: 123px;
	height: 123px;
	position: absolute;
	top: 8%;
    left: 0;
    right: 0;
    margin: auto;

}
.container-login{

display: flex;
     flex-direction: column;
     width: 100%;
     position: relative;
/*     height: 30%;*/

}


.box-form{
position: absolute;
top: -18px;
left: 0;
right: 0;
margin: auto;
margin: auto;
/*margin-top: -2%;*/
display: flex;
justify-content: center;
align-items: center;
width: 80%;

background-color: #fcf6f1;;

z-index: 10%;
}

.input-form input{

border-bottom: 2px solid #b1b1b1;



}
.login {
	
	color: rgb(80, 75, 75);
	font-weight: 600px;
	font-size: 1.3em;
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: auto;
	text-align: center;
	
	
	
}
.input-form{
	position: relative;
	margin: 37px;

	
}
.inputUser{
	background:none;
	border: none;
	border-bottom: 1px solid #dbd6d6;
	outline: none;
	font-size: 18px;
	width: 100%;
	letter-spacing: 2px;  
}
.label-input{
position: absolute;
top: 0px;
left: 0px;
pointer-events: none;
transition: .5s;
}
.inputUser:focus ~ .label-input, 
.inputUser:valid ~ .label-input{
top: -20px;
font-size: 12px;
color: #7285f2;
}
.container-login{
	height: 100%;
}

#submit{
	 padding: 10px 20px;
}
.input-b{
	 position: relative;
	text-align: center;
	/* margin: 0 auto;  */
	position: absolute;
	align-items: center;
    top: 290px;
    left: 50%;
    transform: translate( -50%);
	z-index: 10;
	
  
}


.btn:hover{
	background-color: #515050;
}
.link-senha{
position: absolute;
align-items: center;
left: 50%;
transform: translate( -50%);
z-index: 10;
top: 377px;

}

.link{

color:  #7285f2;
text-decoration: none;
}
.link:hover {
	color:#5667c7;
}

.texto-cadas{
position: absolute;
align-items: center;
left: 50%;
transform: translate( -50%);
z-index: 10;
top: 350px;

}


a{
	text-decoration: none;
}




/*pag esquceu senha */

body{
	width: 100%;
	height: 70vh;
	background-color: #FFF9F4 ;
}


.header-bx{
	width: 100%;
	box-shadow: 5px 5px 10px rgba(236, 233, 233, 0.671) ;
	border-bottom: 2px solid #e2e2e2 ; 
	height: 10vh;
}
.icone-voltar{
	
	position: absolute;
     top: 5%;
     left: 2%;
     transform: translate(0,-50%);
	 z-index: 30;

}
.icone-voltar i{
	color: #b1b1b1;
	font-size: 21px;
	
}
.icone-voltar i:hover{
	
	color: #ffffff;
}

#img-senha{
    width: 160px;
    height: 160px;
    width: 200px;
	height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10%;   
     
}

.titulo-texto{
	text-align: center;
}
 .texto{
	text-indent: 0.5em;

}
.content-bx{

position: absolute;

left: 0;
right: 15%;
margin: 0;
justify-content: center;
align-items: center;
width: 100%;
display: flex;
display: 100%;

}
.input-usuario{
	position: relative;
	
}

.btn{
	 color: #fff;
    background: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px; 
    border: none;
  
	
}

.input-btn{
	
	display: flex;
	justify-content: center;
}


.inputuser{
	background:none;
	border: none;
	outline: none;
	font-size: 18px;
	width: 100%;
	letter-spacing: 2px; 
	margin: 16px; 
	  
}
.lab-input{
	position: absolute;
	top: 0px;
	left: 0px;
	pointer-events: none;
	transition: .5s;
	margin: 16px; 
}
.input-usuario #email{
	width: 97%;

	outline: none;
	font-weight: 400;
	border: none;
	font-size: 17px;
	border-bottom: 2px solid #b1b1b1;
}

.inputuser:focus ~ .lab-input, 
.inputuser:valid ~ .lab-input{
	top: -20px;
	font-size: 12px;
	color: #7285f2;
}
.input-bt{
	position: relative;
	text-align: center;
	/* margin: 0 auto;  */
	position: absolute;
	align-items: center;
    top: 63px;
    left: 50%;
    transform: translate( -50%);
	z-index: 10;
}