*{
    box-sizing: border-box;
    font-family: 'Roboto' , sans-serif;
    margin: 0;
    padding: 0;
}
:root{
    --color-primary: #9196F2;
    --colo-black: #000;
    --color-white: #fff;
}
body{
    background: linear-gradient(90deg, #F2F2F2 0%, #cfb6f283 100%);
    /* padding: 0 1rem; */
	width: 100%;
	height: 70vh;
}

header,
.hero-section, .footer-section{
	border-color: var(--colo-black);
    border-style: solid;
    border-width: 0 1px 1px 1px;
}
header img{
    display: block;
    margin: 1rem auto;
}
header nav{
    display: grid;
    grid-template-columns: 1fr 1fr1;
    margin: 1rem auto 0;

}
nav a{
    color: var(--colo-black);
    font-size: 1.25rem;
    padding: .5rem;
    text-decoration: none;
}

header nav a:nth-child(2n-1){
    text-align: right;
}

.button {
	background-color: var(--color-primary);
	border: 2px solid var(--colo-black);
	box-shadow: 4px 4px 0 var(--colo-black);
	color: var(--colo-black);
	display: block;
	font-size: 1.25rem;
	padding: .75rem 1rem;
	max-width: 14rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
.hero-section{
    padding-right: 0;
    padding-bottom: 16rem;

}
.hero-section img{
    display: flex;
    margin: 10rem 0 7rem auto;
    max-width: 100%;
}
.hero-section .button{
    position: relative;
}
.hero-section .button::after{
    content: '';
    background: url('../fotos/arrow-curve.svg');
    position: absolute;
    top: 5rem;
    right: -4rem;
    height: 48px;
    width: 132px;
}
.decoration{
    display: block;
    position: relative;
}
.decoration::after{
    content: '';
    background: url('../fotos/three-dashes.svg');
    position: absolute;
    /*top: -0.70rem;*/
    height: 36px;
    width: 40px;
}
/*Footer*/
footer {
    border-bottom: 0;
    /*padding: 1rem 1.25rem 4rem;*/
}
footer nav a{
    display: block;
    padding-left: 0;
}
h1{
    font-size: 3rem;
    line-height: 105%;
}
h2{
    font-size: 2.5rem;
}
.hero-section p{
    font-size: 1.25rem;
    padding-right: 1.25rem;
}

.mt-1{
    margin-top: 1rem;
}
.mt-2{
    margin-top: 2rem;
}
.mb-1{
    margin-bottom: 1rem;
}
.mb-2{
    margin-bottom: 2rem;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.text-primary{
    color: var(--color-primary);
}
.text-center{
    text-align: center;
}
p{
    padding: 5px;
}
.teste{
    justify-content:center;
}


@media screen and (min-width: 40rem){
    header nav {
        display: block;
        text-align: center;
    }
}
@media screen and (min-width: 48rem){
    header div{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    header img, 
    header nav,
    header .button{
        margin: 0;
    }
}
@media screen and (min-width: 72rem){
	.container{
        display: flex;
        align-items: center;
        margin: 0 auto;
        max-width: 50rem;
        padding-left: 150px;
    }
    .row-reverse{
        flex-direction: row-reverse;
    }
}

/*@media screen and(min-width: 48rem) {
    header div{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
}*/

/* estilos da pag cadastro */



.container-cadastro{
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
}
.img-x{
	width: 50%;
	height: 100%;
	/* background-color:#C5CFF2;  */
	background-color: #9196F2;
	
	padding: 20px;
}
.img-x img{
	width: 100%;
	height: 100%;
}
.content-box{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	width: 50%;
	height: 89%;
	margin-top: 5%;
	
}
.content-box .form-box{
	width: 50%;
	
}
.content-box .form-box .cadastro{
	color: rgb(80, 75, 75);
	font-weight: 600px;
	font-size: 1.3em;
	margin-bottom: 15px;
	 text-transform: uppercase; 
	text-align: center;

}
.content-box .form-box{
	margin-bottom: 20px;
	 
}
.content-box .form-box .input-bx input{
	width: 100%;
	padding: 10px;
	outline: none;
	font-weight: 400;
	border: none;
	font-size: 17px;
	color:#32324f;
	background-color: #ecf2ec;
	border-radius: 4px;
}
.content-box .form-box .input-bx span{
	font-size: 16px;
	margin-bottom: 5px;
	display: inline-block;
	color: #32324f;
	font-weight: 400;
}
.content-box .form-box .input-bx::placeholder{
	color: #a9adb6;
}
/* #submit{
	background-color: #000; 
	
	color: #fff;
	outline: none;
	border: none;
	height: 43px;
	cursor: pointer;
	font-size: 14px;
	transition: 0.2s;
	
	
 *} */
 /* botaõ de login e esqueceu a senha */
 #submit{
	/* background-color: #000; 
	color: #fff;
	outline: none;
	border: none;
	font-weight: 700;
	cursor: pointer;
	font-size: 17px;
	transition: 0.2s;
	text-transform: uppercase;
    padding: 20px 20px;
    border-radius: 5px;  */
	background-color: var(--color-primary);
	border: 2px solid var(--colo-black);
	box-shadow: 4px 4px 0 var(--colo-black);
	color: var(--colo-black);
	display: block;
	font-size: 1.25rem;
	padding: .75rem 1rem;
	max-width: 20rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	
}

#submitt:hover{
	background-color: #515050;
}

h5 .link-cadastro{
	
	color:  #7285f2;;
	text-decoration: none;
	
	
} 

 link:hover{
	color: #5667c7;
}


.content-box .form-box .input-box p{
	color: #32324f;
}

.content-box .form-box .input-box p a{
	color: #0000ff;
	text-decoration: none;
}
.content-box .form-box h3{
	color:#607d8b;
	text-decoration: none;
	margin: 40px 0 15px;
	font-weight: 500;
	text-align: center;
	font-size: 22px;
}
@media (max-width: 868px) {
	.container-cadastro .img-x{
		display: none;
	}
	.container-cadastro .content-box{
		width: 100%;
	}

	.container-cadastro .content-box .form-box{
		width: 100%;
		padding: 40px;
		
		margin: 50px;
	}
	.container-cadastro .content-box h3{
		margin: 30px 0 10px;
		
	}
	
}
@media (min-width: 450px){
	.container-cadastro .content-box .form-box .input-box a{
		margin-top: 20px;
	}
}



/*pagina de login*/
.header-login{
	width: 100%;
	height: 67%;
	background-color: var(--color-primary); 

}

.imagem-login{
   
   width: 100%;
	height: 10%;

}

#img-login{
	width: 123px;
	height: 123px;
	position: absolute;
	top: 8%;
    left: 0;
    right: 0;
    margin: auto;

}
.container-login{

display: flex;
     flex-direction: column;
     width: 100%;
     position: relative;
/*     height: 30%;*/

}


.box-form{
position: absolute;
top: -18px;
left: 0;
right: 0;
margin: auto;
margin: auto;
/*margin-top: -2%;*/
display: flex;
justify-content: center;
align-items: center;
width: 80%;

background-color: #fcf6f1;;

z-index: 10%;
}

.input-form input{

border-bottom: 2px solid #b1b1b1;



}
.login {
	
	color: rgb(80, 75, 75);
	font-weight: 600px;
	font-size: 1.3em;
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: auto;
	text-align: center;
	
	
	
}
.input-form{
	position: relative;
	margin: 37px;

	
}
.inputUser{
	background:none;
	border: none;
	border-bottom: 1px solid #dbd6d6;
	outline: none;
	font-size: 18px;
	width: 100%;
	letter-spacing: 2px;  
}
.label-input{
position: absolute;
top: 0px;
left: 0px;
pointer-events: none;
transition: .5s;
}
.inputUser:focus ~ .label-input, 
.inputUser:valid ~ .label-input{
top: -20px;
font-size: 12px;
color: #7285f2;
}
.container-login{
	height: 100%;
}

#submit{
	 padding: 10px 20px;
}
.input-b{
	 position: relative;
	text-align: center;
	/* margin: 0 auto;  */
	position: absolute;
	align-items: center;
    top: 290px;
    left: 50%;
    transform: translate( -50%);
	z-index: 10;
	
  
}


.btn:hover{
	background-color: #515050;
}
.link-senha{
position: absolute;
align-items: center;
left: 50%;
transform: translate( -50%);
z-index: 10;
top: 380px;

}

.link{

color:  #7285f2;
text-decoration: none;
}
.link:hover {
	color:#5667c7;
}

.texto-cadas{
position: absolute;
align-items: center;
left: 50%;
transform: translate( -50%);
z-index: 10;
top: 350px;

}


a{
	text-decoration: none;
}




/*pag esquceu senha */

body{
	width: 100%;
	height: 70vh;
	background-color: #FFF9F4 ;
}


.header-bx{
	width: 100%;
	/* box-shadow: 5px 5px 10px rgba(236, 233, 233, 0.671) ;
	border-bottom: 2px solid #e2e2e2 ;  */
	border-color: var(--colo-black);
    border-style: solid;
    border-width: 0 1px 1px 1px;
	height: 10vh;
}
.icone-voltar{
	
	position: absolute;
     top: 5%;
     left: 2%;
     transform: translate(0,-50%);
	 z-index: 30;

}
.icone-voltar i{
	color: #b1b1b1;
	font-size: 21px;
	
}
.icone-voltar i:hover{
	
	color: #ffffff;
}

#img-senha{
    width: 160px;
    height: 160px;
    width: 200px;
	height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10%;   
     
}

.titulo-texto{
	text-align: center;
}
 .texto{
	text-indent: 0.5em;

}
.content-bx{

position: absolute;

left: 0;
right: 15%;
margin: 0;
justify-content: center;
align-items: center;
width: 100%;
display: flex;
display: 100%;

}
.input-usuario{
	position: relative;
	
}

.btn{
	 color: #fff;
    background: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px; 
    border: none;
  
	
}

.input-btn{
	
	display: flex;
	justify-content: center;
}


.inputuser{
	background:none;
	border: none;
	outline: none;
	font-size: 18px;
	width: 100%;
	letter-spacing: 2px; 
	margin: 16px; 
	  
}
.lab-input{
	position: absolute;
	top: 0px;
	left: 0px;
	pointer-events: none;
	transition: .5s;
	margin: 16px; 
}
.input-usuario #email{
	width: 97%;

	outline: none;
	font-weight: 400;
	border: none;
	font-size: 17px;
	border-bottom: 2px solid #b1b1b1;
}

.inputuser:focus ~ .lab-input, 
.inputuser:valid ~ .lab-input{
	top: -20px;
	font-size: 12px;
	color: #7285f2;
}
.input-bt{
	position: relative;
	text-align: center;
	/* margin: 0 auto;  */
	position: absolute;
	align-items: center;
    top: 63px;
    left: 50%;
    transform: translate( -50%);
	z-index: 10;
}