*{
    box-sizing: border-box;
    font-family: 'Roboto' , sans-serif;
    margin: 0;
    padding: 0;
}
:root{
    --color-primary: #9196F2;
    --color-secundary:#B6B9F2;
    --colo-black: #000;
    --color-white: #fff;
    --color-dark:#464A8C;
}
/*body, html {height:100%;}*/
body{
   /*background: linear-gradient(90deg, #f1f1f1 0%, #cfb6f2c6 100%);*/
   background: linear-gradient(90deg, #F2F2F2 0%, #cfb6f283 100%);
   /* background: linear-gradient(90deg, #f1f1f1 0%, #cfb6f2c6 100%);*/
    padding: 0 1rem;
}
.caixao{
    width: 100%;
    height: 10rem;
}
.caixa{
    display: flex;
    justify-content: space-around;
    align-items:start;
}
header .button{
    background-color: #8F8EF2;
}
/*div.wrap {height:100%; overflow:hidden;}*/
/*body {overflow: hidden; }*/

/*header#cabecalho img#logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}*/

header, .hero-section{
    border-color: var(--color-dark);
    border-style: solid;
    border-width: 0 1px 1px 1px;
    /*padding: 7.25rem;*/
    padding-bottom: 8rem/*5.34rem*/;
}
header img{
    display: block;
    margin: 1rem auto;
}
header#cabecalho img#logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
/*header nav{
    display: grid;
    grid-template-columns: 1fr 1fr1;
    margin: 1rem auto 0;

}*/
/*nav a{
    color: var(--colo-black);
    font-size: 1.25rem;
    padding: .5rem;
    text-decoration: none;
}*/

/*header nav a:nth-child(2n-1){
    text-align: right;
}*/
/*main{
    padding: 0 3rem 0 3rem;
}*/

.buttonNovo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button {
	background-color: var(--color-secundary);
	border: 2px solid var(--colo-black);
	box-shadow: 4px 4px 0 var(--colo-black);
	color: var(--colo-black);
	display: block;
	font-size: 1.25rem;
	padding: .75rem 1rem;
	max-width: 10rem;
	text-align: center;
	text-decoration: none;
}
.button:hover{
    background-color:#656cf1;
}


#ultimo{
    background-color: var(--color-primary);
}
#ultimo:hover{
    background-color:#656cf1;
    
}
.hero-section{
    padding: 4rem 3rem 4rem 3rem;
    gap: 3rem;
    /*padding-right: 0;
    padding-bottom: 4rem;*/

}
.hero-section img{
    display: flex;
    margin: 7rem 0 4.5rem auto;
    max-width: 100%;
}
.hero-section #ultimo{
    position: relative;
}
/*.hero-section #ultimo::after{
    content: '';
    background: url('../fotos/arrow-curve.svg');
    position: absolute;
    top: 4rem;
    right: -4rem;
    height: 48px;
    width: 132px;
}*/
.decoration{
    display: block;
    position: relative;
}
.decoration::after{
    content: '';
    background: url('../fotos/three-dashes.svg');
    position: absolute;
    top: -0.50rem;
    height: 36px;
    width: 40px;
}


h1{
    font-size: 3rem;
    line-height: 105%;
}
h2{
    font-size: 2.5rem;
}
.hero-section p{
    font-size: 1.25rem;
    padding-right: 1.25rem;
}

.mt-1{
    margin-top: 1rem;
}
.mt-2{
    margin-top: 2rem;
}
.mb-1{
    margin-bottom: 1rem;
}
.mb-2{
    margin-bottom: 2rem;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.text-primary{
    color: var(--color-primary);
}
.text-center{
    text-align: center;
}
p{
    padding: 5px;
}
.teste{
    justify-content:center;
}

.course-section{
    padding-bottom: 8rem;

}
.cards{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.25rem;
    /*margin-top: -8rem;*/
    margin-top: 3rem;
    margin-bottom: 4rem;

}
.card{
    background-color: var(--color-primary);
    border: 2px solid var(--colo-black);
    box-shadow: 4px 4px 0 var(--colo-black);
    max-width: 17rem;
    padding: 2rem 0 0 2rem;
}
/* .card:hover{
    background-color:#656cf1;
} */
.card:nth-child(2n){
    align-items: end;
    background-color: var(--color-secundary);
}
.card:nth-child(2n):hover{
    background-color:#656cf1;
}
.card:hover{
    background-color:#656cf1;
}
.card strong{
    display: block;
    font-size: 1.5rem;
    margin: 1rem 0;
}
.card a{
    display: block;
    margin: 3rem 0 0 auto;
    width: fit-content;
}

@media screen and (min-width: 48rem){
    header img{
        margin: 0;
    }
    body, html {height:100%;}
    div.wrap {height:100%; overflow:hidden;}
    .hero-section img{
        display: flex;
        margin: 7rem 0 4.5rem 5rem;
        max-width: 100%;
    }
    header{
        padding-right: 12rem;
    }      
}
@media screen and (min-width: 72rem){
	.container{
        display: flex;
        align-items: center;
        margin: 0 auto;
        max-width:50rem;
        padding-left: 250px;
    }
    .row-reverse{
        flex-direction: row-reverse;
    }
}
@media screen and (min-width: 40rem){
    .cards{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card:nth-child(2n){
        margin-top: 1rem;
    }
}