@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

:root{
    --color-primary: #9196F2;
    --color-secundary:#B6B9F2;
    --colo-black: #000;
    --color-white: #fff;
    --color-dark:#464A8C;
}

body{
    background: linear-gradient(90deg, #F2F2F2 0%, #cfb6f283 100%);
    padding: 0 1rem;
}


/*HEADER*/
header{
    margin: 0 auto;
}

nav{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.ul-normal{
    display: flex;
    list-style: none;
    gap: 3rem;
    align-items: baseline;
}
.ul-anormal{
    list-style: none;
}

.jornada{
    display: flex;
    align-items: center;
}

header#cabecalho img#logo {
    position: absolute;
    max-width: 100%;
    left: 0;
    right: 0;
    margin: auto;
}


/*MAIN*/
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto; 
    padding: 4rem 3rem 4rem 3rem;
    align-items: center;
    gap: 3rem;
    max-height:100%;
    overflow:hidden;
}
.containerb{
    padding: 0 1rem;
}

.containerb h3{
    padding-top: 1rem;
}
.item-1{
    order: -1;
}
.item-3{
    flex-grow: 4;
}

.container p{
    font-size: 1.25rem;
    padding: 5px;
    padding-right: 1.25rem;
}

h1{
    font-size: 3rem;
    line-height: 105%;
}
h2{
    font-size: 2.5rem;
}

div{
    padding-top: 1rem;
}

img{
    display: flex;
    max-width: 100%;
}

.borda{
    border-color: var(--color-dark);
    border-style: solid;
    border-width: 0 1px 1px 1px;
    padding-bottom: 5rem;
}
#cabecalho{
    padding-top: 2rem;
    padding-bottom: 10rem;
}

.text-primary{
    color: var(--color-primary);
}
.decoration{
    display: block;
    position: relative;
}
.decoration::after{
    content: '';
    background: url('../fotos/three-dashes.svg');
    position: absolute;
    top: -0.50rem;
    height: 36px;
    width: 40px;
}

.buttonNovo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button {
	background-color: var(--color-secundary);
	border: 2px solid var(--colo-black);
	box-shadow: 4px 4px 0 var(--colo-black);
	color: var(--colo-black);
	display: block;
	font-size: 1.25rem;
	padding: .75rem 1rem;
	max-width: 10rem;
	text-align: center;
	text-decoration: none;
}
.button:hover{
    background-color:#656cf1;
}
#ultimo{
    background-color: var(--color-primary);
}
#ultimo:hover{
    background-color:#656cf1;
    
}
.cardJornada{
    background-color: var(--color-primary);
    border: 2px solid var(--colo-black);
    box-shadow: 4px 4px 0 var(--colo-black);
    padding: 0.1rem;
    width: fit-content;
    text-align: center;
}  
/*MAIN-VIDEOS*/
section{
    padding: 0 1rem;
}
.container-video{
    max-width: 400px;
    padding: 2vh;
    margin: 0 auto;
}
.div-video{
    width: 100%;
    padding-top: 50%;
    position: relative;
}
.div-video iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
}

/*CARDS*/

.course-section{
    padding-bottom: 8rem;

}
.cards{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.25rem;
    margin-top: 3rem;
    margin-bottom: 4rem;

}
.card{
    background-color: var(--color-primary);
    border: 2px solid var(--colo-black);
    box-shadow: 4px 4px 0 var(--colo-black);
    max-width: 17rem;
    text-align: start;
    padding: 2rem 0 0 2rem;
}
.card:nth-child(2n){
    align-items: end;
    background-color: var(--color-secundary);
}
.card strong{
    display: block;
    font-size: 1.5rem;
    margin: 1rem 0;
}
.card a{
    display: block;
    margin: 3rem 0 0 auto;
    width: fit-content;
}

/*~~~RESPONSIVIDADE~~~~*/

@media screen and (min-width: 48rem){
  
    nav{
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: start;
    }
    ul{
        padding-right: 5rem;
    }
    .buttonNovo{
        justify-content: space-between;
    }
 }
 @media screen and (min-width: 72rem){
    .container{
        max-width:65rem;
        align-items: self-end;
        flex-wrap: nowrap;
        overflow:visible;
    }
    .item-1{
        order: 1;
    }
    .container img{
        padding-left: 10rem;
    }
    .containerb {
    padding: 0;
    text-align: initial;
     max-width: 80%;
}
.containerb h3{
    padding-top: 3rem;
    padding-left: 6rem;
    text-align: center;
}
.textoImge{
    gap: 3rem;
    margin: 0 auto;
    display: flex;
    align-items: self-end;
    max-width: 50%;
}
.textoJornada{
    gap: 3rem;
    margin: 0 auto;
    display: block;
    text-align: start;
    max-width: 30%;
}
.containerJornada{
    display: block;
    margin: 0 auto;
    max-width: 50%;
}

.caixaJornada{
    display: flex;
    justify-content:space-between;
    align-items: last  baseline;
}

.div-video iframe{
    width: 100%;
    height: 100%;
    position: inherit;
    border-radius: 10px;
}
}
@media screen and (min-width: 40rem){
    .cards{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card:nth-child(2n){
        margin-top: 1rem;
    }
}